@immoonancient

@sbsbpk

# Professional in culinary terms
@NoraZheng

# Native in English and Chinese
@kdliu86

@Yingzhang1122

# 老季
\* Git ID unknown

@tiffychou

@ym1495@nyu.edu
\*temp. not available, don't @

@boyong he
\*git ID unknown
